amqp==5.3.1
asgiref==3.11.1
asttokens==3.0.1
attrs==25.4.0
billiard==4.2.4
black==26.1.0
celery==5.6.2
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==7.13.4
cron_descriptor==2.0.6
decorator==5.2.1
dj-database-url==3.1.2
Django==5.2.11
django-celery-beat==2.8.1
django-cors-headers==4.9.0
django-environ==0.13.0
django-extensions==4.1
django-filter==25.2
django-stubs==5.2.9
django-stubs-ext==5.2.9
django-timezone-field==7.2.1
django_celery_results==2.6.0
djangorestframework==3.16.1
djangorestframework-gis==1.2.0
drf-spectacular==0.29.0
executing==2.2.1
factory_boy==3.3.3
Faker==40.5.1
gunicorn==25.1.0
h11==0.16.0
inflection==0.5.1
iniconfig==2.3.0
ipdb==0.13.13
ipython==9.10.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
librt==0.8.1
Markdown==3.10.2
matplotlib-inline==0.2.1
mypy==1.19.1
mypy_extensions==1.1.0
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1770098400/work/dist/numpy-2.4.2-cp312-cp312-macosx_11_0_arm64.whl#sha256=034d6ba7f9b64546a2bcebd6b3a6d6a9bc390537e96050eb8df31f9c173f8a13
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
parso==0.8.6
pathspec==1.0.4
pexpect==4.9.0
pillow==12.1.1
platformdirs==4.9.2
pluggy==1.6.0
prompt_toolkit==3.0.52
psycopg2 @ file:///Users/runner/miniforge3/conda-bld/psycopg2-split_1767372299268/work
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pytest==9.0.2
pytest-django==4.12.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytokens==0.4.1
PyYAML==6.0.3
redis==7.2.1
referencing==0.37.0
rpds-py==0.30.0
ruff==0.15.4
setuptools==82.0.0
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uritemplate==4.2.0
uvicorn==0.41.0
vine==5.1.0
wcwidth==0.6.0
wheel==0.46.3
whitenoise==6.12.0
